# Copyright (c) 2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# any change to xxx_ipc_interface_code.h needs to be reviewed by @ccllee1 @li-weifeng2024 @jsjzju
interfaces/inner_api/ability_manager/include/ability_manager_ipc_interface_code.h @ccllee1 @li-weifeng2024 @jsjzju
interfaces/inner_api/app_manager/include/appmgr/app_mgr_ipc_interface_code.h @ccllee1 @li-weifeng2024 @jsjzju
services/common/include/ui_extension_utils.h @li-weifeng2024
services/uripermmgr/ @afwk_helper @dsz2025

[AFWK ABILITY RUNTIME]
cj_environment/ @afwk_helper
ets_environment/ @afwk_helper
frameworks/ @afwk_helper
interfaces/ @afwk_helper
js_environment/ @afwk_helper
service_router_framework/ @afwk_helper
services/ @afwk_helper
test/ @afwk_helper
tools/ @afwk_helper
utils/ @afwk_helper